// Typography

body {
  font-family: $font-primary;
}

.cw__text {
  margin: 0;
  font-size: 14px;
  color: #76898d;

  &--right {
    float: right;
  }

  &--location {
    margin: 0;
  }

  @include breakpoint(small) {
    font-size: 16px;
  }
}

.cw__title--heading {
  font-size: 19px;
  font-weight: bold;
  color: #324649;
  margin-bottom: 7px;

  @include breakpoint(small) {
    font-size: 22px;
  }
}